/** Media queries **/
@media only screen and (max-width: 420px) {
    .contenedorSesion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $negro;
        padding-top: 5rem;
        padding-left: 0;
        padding-bottom: 5rem;
        height: auto;
        width: 100%;
    }
    .formFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-control {
        width: 20rem;
        height: 5rem;
        font-weight: bold;
    }
    .temasAyuda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $negro;
        width: 100%;
        height: auto;
        color: $naranja;
        padding-bottom: 5rem;
    }
    .listaTemas {
        font-size: 1.8rem;
        width: 100%;
        padding: 1rem;
        list-style: none;
    }
}
@media only screen and (max-width: 500px) {
    .imgMarcas1 {
        width: 27rem;
        height: 14rem;
        background: url("../img/makita.jpg") no-repeat;
        background-size: contain;
        background-position: center;
        }
    .imgMarcas1:hover {
        width: 27rem;
        height: 14rem;
        background: url("../img/makitahover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas2 {
        width: 27rem;
        height: 14rem;
        background: url("../img/bauker.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas2:hover {
        width: 27rem;
        height: 14rem;
        background: url("../img/baukerhover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas3 {
        width: 27rem;
        height: 14rem;
        background: url("../img/b&d.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas3:hover {
        width: 27rem;
        height: 14rem;
        background: url("../img/b&dhover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
}
@media only screen and (max-width: 533px) {
    .fichaCatalogo {
        background-color: $naranja;
        width: 100%;
        padding-bottom: 3rem;
    }
    .catalogoImg {
        width: 100%;
        height: auto;
        padding-bottom: 5rem;
    }
    .catalogoImg img{
        width: 100%;
        height: auto;
    }
    .catalogosLista ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 3rem;
        gap: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .contenedorHeader {
        display: flex;
        flex-direction: column;
        background-color: $naranja;
        justify-content: center;
    }
    .headerLogo{
        padding-bottom: 2rem;
    }
    .headerLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.4rem;
        color: $naranja;
        width: 100%;
    }
    .headerLogin {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        text-align: center;
        width: auto;
    }
    .headerCarro {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        width:auto;
    }
    .headerAyuda {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        width: auto;
    }
    .banner {
        display: none;
    }
    .contactoLista {
        display: flex;
        flex-direction: column;
        gap:2rem;
        justify-content: center;
        list-style-type: none;
    }
    .contactoLista a {
        color: $naranja;
        font-size: 1.6rem;
}
    .contactoLista a:hover {
        color: white;
        font-size: 1.6rem;
}
    .parrafoPie {
        font-weight: bold;
        font-family: $Monserrat;
        font-size: 2rem;
}
    .listadoOfertas {
        background-color: $negro;
        width: 100%;
        height: 200rem;
        display: flex;
        justify-content: space-evenly;
}
}
@media only screen and (max-width: 700px) {
    .categoriasCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 4rem;
    }
    #cardCategoria {
        text-align: center;
        width:25rem;
    }
}
@media only screen and (max-width: 775px) {
    .carousel-control-prev {
        margin-left: auto;
    }
    .carousel-control-next {
        margin-right: auto;
    }
    .carouselImg {
        width: 25rem;
        height: auto;
    }
}
@media only screen and (max-width: 882px) {
    .destacadosOfertas {
        display: flex;
        flex-direction: column;
        background-color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 130rem;
    }
    .destacadosOfertas li {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 1rem;
        padding-top: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .imgCategorias {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 3rem;
        img{
            border: $naranja solid 2rem;
            width: 90%;
            height: 100%;
            border-radius: 2rem;
            border: $naranja solid 0.6rem;
        }
    }
    .categoria1 .categoria2 .categoria3 {
        width: auto;
        height: auto;
    }
    .contenedorCategorias {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        background-color: $negro;
        text-align: center;
        width: 100%;
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        h2{
            color: $naranja;
            padding-bottom: 20px;
            font-size: 3rem;
        }
    } 
}
@media only screen and (max-width: 918px) {
    .marcasCards {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .cardMarca1{
        grid-area: card1;
    }
    .cardMarca2{
        grid-area: card2;
    }
    .cardMarca3{
        grid-area: card3;
    }
    .cardMarca4{
        grid-area: card4;
    }
    .cardMarca5{
        grid-area: card5;
    }
    #cardMarca {
        text-align: center;
        width:25rem;
    }
    .marcaDestacada {
        display: flex;
        flex-direction: column;        
        width: 100%;
        text-align: center;
    }
    #imagenDestacada {
        width: 100%;
        height: 100%;
    }
    .textoDestacado p{
        background-color: white;
        font-size: 1.8rem;
        width: 100%;
        text-align: justify;
        padding-top: 3rem;
    }
    .tituloDestacada p{
        font-size: 2.6rem;
        font-weight: bold;
    }
    .tituloDestacada h2{
        height: 1rem;
        font-weight: bold;
        font-size: 2rem;
        color: $negro;
        padding-bottom: 4rem;
        padding-top: 3rem;
    }
}
@media only screen and (max-width: 1000px) {
    .containerOfertas {
    background-color: $negro;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    width: 100%;
    height: auto;
    h2 {
        font-size: 3rem;
        width: 100%;
        padding: 2rem;
        border-radius: 1rem;
    }
    .verMas {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    .verMas a{
        color: $naranja;
        font-size: 3rem;
        padding: 1rem 1rem 1rem 1rem;
        border: $naranja solid 0.6rem;
        border-radius: 2rem;
    }
    .verMas a:hover{
        color: $negro;
        background-color: $naranja;
        font-size: 3rem;
        padding: 1rem 1rem 1rem 1rem;
        border: $naranja solid 0.6rem;
        border-radius: 2rem;
    }
    .cardsOfertas {
        display: flex;
        flex-direction: column;
        gap: 20rem;
    }
}
}
@media only screen and (max-width: 1200px) {
    .marcasMain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .verMas a {
            color: $negro;
            font-size: 3rem;
            width: 100%;
            border: $negro solid 0.6rem;
            border-radius: 2rem;
            padding-top: 1rem;
        }
    }
    .imgMarcas1 {
        width: 50rem;
        height: 14rem;
        background: url("../img/makita.jpg") no-repeat;
        background-size: contain;
        background-position: center;
        }
    .imgMarcas1:hover {
        width: 50rem;
        height: 14rem;
        background: url("../img/makitahover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas2 {
        width: 50rem;
        height: 14rem;
        background: url("../img/bauker.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas2:hover {
        width: 50rem;
        height: 14rem;
        background: url("../img/baukerhover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas3 {
        width: 50rem;
        height: 14rem;
        background: url("../img/b&d.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    .imgMarcas3:hover {
        width: 50rem;
        height: 14rem;
        background: url("../img/b&dhover.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }
}
@media only screen and (max-width: 1280px) {
    .contenedorPresentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 5rem;
        h1{
            font-size: 3rem;
            font-weight: bold;
        }
    }
    .presentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        align-items: center;
    }
    .resena {
        width: 80%;
        font-size: 2rem;
        text-align: justify;
        padding: 1rem;
    }
    .contenedorVideo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}
